@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register to this cool site!</h1>
    <a asp-controller = "User" asp-action = "Login">Login</a>
    <form asp-controller = "User" asp-action = "Register" method = "POST">
        <div>
            <label asp-for = "FirstName"></label>
            <input asp-for = "FirstName">
            <span asp-validation-for = "FirstName"></span>
        </div>
        <div>
            <label asp-for = "LastName"></label>
            <input asp-for = "LastName">
            <span asp-validation-for = "LastName"></span>
        </div>
        <div>
            <label asp-for = "Email"></label>
            <input asp-for = "Email">
            <span asp-validation-for = "Email"></span>
        </div>
        <div>
            <label asp-for = "Password"></label>
            <input asp-for = "Password">
            <span asp-validation-for = "Password"></span>
        </div>
        <div>
            <label asp-for = "Confirm"></label>
            <input asp-for = "Confirm">
            <span asp-validation-for = "Confirm"></span>
        </div>
        <button>Sign Up Now</button>
    </form>
</body>
</html>